<div class="p-4 -mx-4 hover:bg-gray-100">
  <div class="flex justify-between">
    <div>
      <div class="text-sm text-gray-700"><%= contact.id %></div>
    </div>
    <div>
      <h5 class="font-bold"><%= contact.firstname %> <%= contact.lastname%></h5>
    </div>
    <div>
      <div class="text-sm text-gray-700"><%= contact.email %></div>
    </div>
    <div>
      <div class="text-sm text-gray-700"><%= contact.created_at %></div>
    </div>
    <div>
      <div class="text-sm text-gray-700"><%= contact.updated_at %></div>
    </div>
  </div>
</div>
